.header {
  display: flex;
  align-items: center;
  padding-top: 25px;

  .twitter-lab-section {
    width: 290px;
    display: flex;
    justify-content: end;
    margin-right: 44px;

    .h1-header {
      font-size: 25px;
      position: relative;
      bottom: 8px;
    }
  }

  .buttons-section {
    width: 138px;
    display: flex;
    flex-direction: column;

    .button {
      background-color: aquamarine;
      color: gray;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      width: 130px;
    }

    .button-1 {
      margin-bottom: 5px;
    }
  }
}
