.main {
  margin-top: 5px;

  .div-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: $color-two;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    .image {
      width: 70px;
      height: 70px;
      margin-bottom: 8px;
    }

    .name{
      margin-bottom: 5px;
      text-transform: uppercase;
      color: $color-one;
    }

    .country, .login {
      margin-bottom: 5px;
      color: $color-one;
    }
  }

  .is-friend{
    background-color: $color-three;
  }
}
